/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-gen-2019, 20.27.26
    Author     : j0s3
*/

html, body, #body {
    height: 100%;
    background: white !important;
}

.registrationLabel{
    font-weight: bold !important;
    font-size: 22pt !important;
}

.businessNameLabel{
    font-family: "Arial,Helvetica,sans-serif";
    font-size: 12pt !important;
    font-weight: bold !important;
    height: 100%;
}
